.row
  .col-xs-5.col-xs-offset-1
    %h4= "Inventory ##{inventory.id}"
    %h5= "is a #{inventory.product.name}"
    %h5= "is held at #{inventory.warehouse.name}"
  .col-xs-5.col-xs-offset-1
    -# TODO: implement form
    form
%hr
