<!DOCTYPE html>
<html>
<head>
  <title>FatsoStinkieStretch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="row">
    <div class="col-xs-6 col-xs-offset-6">
      <%= "logged in as: #{@current_user.email}" %>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
